
  .left{
    margin-left: 205px;
  }
  .right{
    margin-left: 1000px;
    margin-top: -100px;
  }
  .footer-item{
   font-size: large;
   font-weight: 600;
   color: #8141c5; 
  }
  .methodone{
    margin-top: -39px;
    margin-left: 110px;
    color: rgb(0, 0, 0);

  }